<?xml version="1.0" encoding="UTF-8"?>
<server description="WhatChatz Application Server">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>jdbc-4.2</feature>
        <feature>persistence-3.1</feature>
        <feature>persistenceContainer-3.1</feature>
        <feature>enterpriseBeansLite-4.0</feature>
    </featureManager>

    <!-- HTTP endpoint - only HTTP for simple demo -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  host="*"/>

    <httpDispatcher>
        <cors enabled="true"
              domain="*"
              allowCredentials="true"
              allowedMethods="GET,POST,PUT,DELETE,OPTIONS"
              allowedHeaders="origin, content-type, accept, authorization"
              maxAge="3600"/>
    </httpDispatcher>

    <keyStore id="googleTrust"
              location="${server.config.dir}/resources/security/key.p12"
              type="PKCS12"
              password="changeit"/>
    <ssl id="defaultSSLConfig"
         trustStoreRef="googleTrust"/>


    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="/" location="whatchatz.war"/>

    <dataSource id="whatchatz" jndiName="jdbc/whatchatz" includeEnvVars="true">
        <jdbcDriver libraryRef="mariadb" javax.sql.DataSource="org.mariadb.jdbc.MariaDbDataSource"
                    javax.sql.XADataSource="org.mariadb.jdbc.MariaDbDataSource"
                    javax.sql.ConnectionPoolDataSource="org.mariadb.jdbc.MariaDbDataSource"/>

        <properties url="jdbc:mariadb://${DB_HOST}:${DB_PORT}/${DB_NAME}"
                    user="${DB_USER}"
                    password="${DB_PASSWORD}"/>
    </dataSource>

    <library id="mariadb">
        <fileset dir="resources" includes="mariadb-java-client-*.jar"/>
    </library>
</server>